.restaurant_name{
    font-size: large;
}

.fav_images{
    width: 180px;
    height: 100px;
    vertical-align: text-top;
    float: left;
    border-radius: 10%;
}

.rest_info{
    display: inline;
    overflow: auto;
    margin-left: 30px;
}

.list_items_container{
    display: block;
}

a{
    margin-left: 30px;
}

li{
    display:block;
    overflow: hidden;
}

.unfav{
  margin-left: 80px;
}