.txtheader{
  text-align: center;
}

.logout_submit{
  display:inline-block;
  width: 150px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #ca3b28;
  cursor: pointer;
  outline: none;
}

.restaurantInfo_container{
  position: fixed;
  top: 25%;
  left: 20%;
  right: 20%;
  align-self: flex-start;
  display: grid;
  justify-items:left;
  align-items:flex-start;
  font-size: large;
}

.button_container{
  position: fixed;
  display: flex;
  bottom: 5%;
  left: 20%;
  right: 20%;
  justify-content: space-evenly;
}

.restaurant_pic{
  position: fixed;
  top: 25%;
  right: 20%;
  height: 30vh;
  object-fit: cover;
}