.commentInput {
    width: 100%;
}

.comments {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}

.commentSubmit {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.comments{
    padding-top: 10px;
    border-top: 1px solid grey;
}