.txtheader{
  text-align: center;
}

.restaurantInfo_container{
  position: fixed;
  top: 25%;
  left: 20%;
  right: 20%;
  align-self: flex-start;
  display: grid;
  justify-items:left;
  align-items:flex-start;
  font-size: large;
}

.button_container{
  position: fixed;
  display: flex;
  bottom: 20%;
  left: 40%;
  right: 40%;
  justify-content: space-evenly;
}

.restaurant_pic_div{
  position: fixed;
  top: 25%;
  right: 20%;
}

.restaurant_pic {
  margin-top: 1em;
  height: 20em;
  width: 25vw;
  object-fit: cover;
}

.restaurant_input{
  width: 30vw;
}

.restaurant_image_input {
  width: 25vw;
}