.image {
    width: 700px;
    height: 300px;
    object-fit: cover;
}

.restDetailBackground {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.restDetailContainer {
    width: 700px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.restaurantDetailContainer {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}